/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.jumbotron {
  background: #dedddd;
  box-shadow: 5px 5px 10px rgb(148, 146, 146);
  border-radius: 10px;
}
body {
  background-color: rgb(251, 255, 255);
}
.card {
  box-shadow: 2px 3px 27px rgb(103, 102, 102);
  border-radius: 10px;
}
.jumbotron1 {
  background: #dedddd;
  border-radius: 10px;
}
.navbar {
  box-shadow: 2px 3px 27px rgb(49, 48, 48);
  border-radius: 10px;
  background: #e8e7e7;
}
.footer {
  box-shadow: 2px 3px 27px rgb(103, 102, 102);
  border-radius: 10px;
}
